<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs'); %>
</head>
<body>
    <%- include('./partials/nav-bar'); %>

    <div >
      <img src="/images/head.jpg" class="img-fluid" alt="...">
      <div class="jumbotron">
        <h1 class="display-4">Привет! </h1>
        <p class="lead">Это рубежный проект по предмету Blockchain</p>
        <hr class="my-4">
        <p>В групее:  Маралбек Бақыт Қайратұлы, Үшкемпіров Бекдәулет Сейтжанұлы, Әдеш Диас Бейбітұлы, Қуандықов Бейбарыс Бауыржанұлы</p>
        <a class="btn btn-dark btn-lg mt-3" href="https://github.com/" role="button">Ссылка на исходный код в github</a>
      </div>
    </div>

</body>
</html>